.header__left {
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
  }
  
  .header__right {
    color: white;
    display: flex;
    gap: 40px;
    font-size: 20px;
    justify-content: end;
    transform: translatex(-100px);
    margin-top: -50px;
  }
  
  .header__home {
    background-color: rgb(69, 59, 59);
    width: 90%;
    height: 70px;
    margin-left: 90px;
  }
  
  .header__button button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: aliceblue;
    margin-left: 1250px;
    margin-top: 20px;
  }